<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Composition</title>
  <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
  <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/htmx.min.js"></script>
</head>

<body>
  <p class="fs-2 bg-success-subtle text-center">Generate your own music with your word power!</p>
  <div class="px-3 my-1">
    <form hx-post="/generate-music" hx-trigger="submit" hx-target="#waveformPlay">
      <div class="form-floating mb-3">
        <textarea class="form-control" id="musicPrompt" name="musicPrompt" rows="3" required></textarea>
        <label for="musicPrompt" class="form-label">Define your music here</label>
      </div>
      <div class="row row-cols-lg-auto g-3 align-items-center">
        <p class="mb-0">Length of Audio</p>
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormSelectPref">Length of Audio</label>
          <select id="audioLength" name="audioLength" class="form-select" aria-label="Length of Audio"
            style="max-width: max-content;">
            <option value="5">5 seconds (takes less time)</option>
            <option value="10">10 seconds</option>
            <option value="15">15 seconds</option>
            <option value="30">30 seconds (takes more time)</option>
          </select>
        </div>
        <div class="col-12">
          <button class="btn btn-outline-success p-2" type="submit" id="generateMusic">Generate</button>
        </div>
      </div>
    </form>
    <div class="my-1" id="waveformPlay"></div>
  </div>
</body>
<script>
  // Adjust the height of the textarea as the user types
  document.getElementById('musicPrompt').addEventListener('input', function () {
    this.style.height = 'auto';
    this.style.height = (this.scrollHeight) + 'px';
  });
</script>

</html>